{% extends "layout.html" %}

{% block title %}
Change password
{% endblock %}

{% block main %}
<form class="form-size mx-auto" action="/change_password" method="POST">
    <h2>Change your password here</h2>
    <div>
        <input class="form-control mb-2" autofocus autocomplete="off" name="old_password" placeholder="Old password" type="password">
        <input class="form-control mb-2" name="new_password" placeholder="New password" type="password" minlength="6" maxlength="20">
        <input class="form-control" name="repeat_new_password" placeholder="Confirm new password" type="password" minlength="6" maxlength="20">
    </div>
    <button class="btn btn-secondary" type="submit">Change password</button>
</form>
{% endblock %}